<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MedicalDBConnection" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MedicalDB;Integrated Security=true;TrustServerCertificate=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
